<div class = "container">


<a class="contents_top">つぶやきを投稿する</a>

<div class="show_edit">
<%= render 'form' %>
</div>

<%= form_with(model: @tweet, local: true, method: 'get') do |form| %>
  <%= link_to 'つぶやき一覧', tweets_path, class: 'btn btn-primary' %>
  <%= link_to 'TOPにもどる', top_tweets_path, class: 'btn btn-default' %>
<% end %>


</div>
