<div class = "container">

<a class="contents_top">つぶやき詳細画面</a>

<p class="show">つぶやき: <%= @tweet.content %></p>

<%= form_with(model: @tweet, local: true, method: 'get') do |form| %>
  <%= link_to 'つぶやき一覧', tweets_path, class: 'btn btn-primary' %>
  <%= link_to 'TOPにもどる', top_tweets_path, class: 'btn btn-default' %>
<% end %>

</div>
