<html>
  <head>
    <title>Phase2-Task</title>
  </head>

  <body>
    <div class = "container">
      <header class = "header">
        <ul class = "top_menu clearfix">
          <li><a href="/tweets/top">TOP</a></li>
          <li><a href="/tweets">つぶやき一覧</a></li>
          <li><a href="/tweets/new">新規つぶやき</a></li>
        </ul>
      </header>

      <h1>Phase2 大課題</h1>
      <h2>「Twitter Clone」</h2>

      <footer class = "footer">
        <p>test application for Pharb</p>
      </footer>
    </div>
  </body>
</html>
