<html>
  <head>
    <title>Phase2-Task</title>
  </head>

  <body>
    <a href="/tweets/top">TOP</a>
    <a href="/tweets">つぶやき一覧</a>
    <a href="/tweets/new">新規つぶやき</a>
    <h2>Phase2 大課題「Twitter Clone」</h2>
    <h4>test application for Pharb</h4>
  </body>
</html>
