

<article>
  <div class="contents">
    <ul class="row">
      <li class="col-md-6">Phase2 大課題 「Twitter Clone」</li>
      <li class="col-md-6">イメージ画像</li>
    </ul>
  </div>
  <div class="topic">
    <ul>
      <li>今の気持ちをつぶやこう！</li>
      <li>みんなとつぶやきを共有しよう！</li>
    </ul>
  </div>
</article>
