<article>
  <div class="container">
    <div class="contents">
      <div class="raw">
        <div class="container-fluid">
          <div class="top_title">
            <ul class="row_A">
              <li class="col-sm-6">Phase2 大課題 <br>「Twitter Clone」</br></li>
              <li class="col-sm-6"><img><%= image_tag 'apple-logo_copy.png' %></img></li>
            </ul>
          </div>
        </div>
        <div class="topic">
          <ul class="row_B">
            <li class="col-md-12">今の気持ちをつぶやこう！</li>
            <li class="col-md-12">みんなとつぶやきを共有しよう！</li>
          </ul>
          <ul class="row_C">
            <li class="col-md-12">＜使い方＞</li>
            <li class="col-md-12">TOP：この画面に戻ってこれるよ。</li>
            <li class="col-md-12">つぶやき一覧：これまでのつぶやきを一覧表示できるよ。</li>
            <li class="col-md-12">新規つぶやき：新しくつぶやくことが出来るよ。</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</article>
